/* GENERAL */
* {
  color: whitesmoke;
  font-family: 'Prosto One', serif;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

p, a {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: deepskyblue;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(0deg,
    rgba(0, 0, 0, 0.25),
    rgba(0, 0, 0, 0.25))
    deepskyblue;
}

a {
  color: deepskyblue;
  font-weight: 400;
}

a:link, a:visited {
  text-decoration: none;
}

.highlight-on-hover:hover, .highlight-on-hover:hover i {
  color: deepskyblue;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.box, .header-box, .header-1-box, .portrait-box, .resume-box {
  background-color: black;
  border-radius: 10px;
}

.header-box, .header-1-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 80vw;
  height: 10vh;
  margin-bottom: 50px;
}

.header-1-box {
  margin: 0px;
  position: absolute;
  top: 0px;
  bottom: 0px;
  height: 15vh;
  align-self: center;
}

h1, h2, p {
  z-index: 1;
}

h1 {
  position: absolute;
  top: 0px;
  bottom: 0px;
  align-self: center;
  text-align: center;
  font-size: max(18px, 3vw);
}

h2 {
  width: 100%;
  text-align: center;
  font-size: max(18px, 2vw);
}

p, a {
  line-height: 135%;
}

p {
  margin: 25px;
}

.about-section, .companies-section, footer {
  display: flex;
  flex-direction: column;
  margin-top: 50vh;
  width: 80vw;
}

/* FRAME */
.frame {
  border: solid black;
  border-width: 25px;
  position: fixed;
  width: calc(100% - 49px);
  height: calc(100% - 50px);
  pointer-events: none;
  z-index: 2;
}

/* BANNER */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.banner img {
  height: 100%;
}

/* MAIN */
main, body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50vh;
}

/* ABOUT */
.about-section {
  margin-top: 100vh;
}

.about-section .profile {
  margin-right: 50px;
}

.about-section .content, .socials {
  display: flex;
  flex-direction: row;
}

.about-section .content .box {
  width: 100%;
  height: auto;
}

.portrait-box {
  width: auto;
  height: 550px;
}

.about-section img {
  border-radius: 10px;
  margin: 25px;
  height: 500px;
}

.socials {
  margin-top: 15px;
  margin-bottom: 15px;
}

.socials .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  aspect-ratio: 1;
}

.socials .box:last-of-type {
  margin: 0px;
}

.socials .box i {
  font-size: 200%;
}

.resume-box {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 50px;
  text-align: center;
  font-family: 'Prosto One', serif;
}

/* COMPANIES */
.companies-section .content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  column-gap: 15px;
  justify-content: center;
}

.companies-section .content .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon-background {
  display: flex;
  background-color: white;
  border-radius: 10px;
  margin: 25px;
}

.companies-section img {
  margin: 15px;
  width: auto;
  height: 75px;
}

/* FOOTER */
footer {
  flex-direction: row;
  margin: 0px;
}

footer .header-box {
  margin-right: 50px;
  width: auto;
}

footer h2 {
  margin: 25px;
}

footer .content {
  width: 100%;
}

footer .content .box {
  display: flex;
  flex-direction: column;
}

footer p {
  margin-top: 0px;
}

footer p:first-of-type {
  margin-top: 25px;
}

/* RESPONSIVITY */
@media screen and (max-width: 1023px) {
  /* GENERAL */
  * {
    font-size: 14px;
  }

  .header-box {
    margin-bottom: 25px;
  }

  /* ABOUT */
  .about-section .profile {
    margin-right: 0px;
    margin-bottom: 25px;
  }

  .about-section .content {
    flex-direction: column;
    align-items: center;
  }

  .portrait-box {
    margin-right: 0px;
    max-width: 331px;
    height: auto;
  }

  .about-section img {
    width: min(calc(100% - 50px), 281px);
    height: auto;
  }

  /* COMPANIES */
  .companies-section img {
    height: 50px;
  }

  /* FOOTER */
  footer {
    flex-direction: column;
  }

  footer .header-box {
    margin-right: 0px;
    margin-bottom: 25px;
  }
}
